.canine-btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 23.76px;
    width: 309.28px;
    height: 299.52px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 23.76px;
    isolation: isolate;
    width: 282px;
    height: 84px;
    background: linear-gradient(180deg, #3DBA41 0%, #007B04 100%);
    border-radius: 6.98795px;
    flex: none;
    flex-grow: 0;
}

.icon-box {
    width: 36px;
    height: 36px;
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}

.button-label {
    width: 70px;
    height: 36px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-transform: capitalize;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
}

.angles {
    position: absolute;
    width: 309.28px;
    height: 28.28px;
    left: calc(50% - 309.28px/2 + 0.14px);
    flex: none;
    order: 2;
    flex-grow: 0;
    z-index: 2;
}

.angle1{
    position: absolute;
width: 20px;
height: 20px;
left: 285.5px;
top: 5px;

background: #209C24;
transform: rotate(-45deg);
}

.angle2{
    position: absolute;
width: 20px;
height: 20px;
left: 4px;
top: 5px;

background: #209C24;
transform: rotate(-45deg);
}