.App{
  position: relative;
  background: #FFFFFF;
  padding:0px;
  margin:0px;
  font-size: 1rem;
}

.Main{
  position: relative;
  padding: 2.5rem;
  /* width: 40%; */
}

.TextArea{
  width: 45%;
}

.Bottom{
  position: relative;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.Fancy-Btns{
  display: flex;
  height: 10%;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  justify-content: start;
  gap:1rem;
}

.Fancy-Btns>button{
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-left:2.5rem;
  padding-right:2.5rem;
  border-radius: 1.5rem;
  font-weight: bold;
}

.Fancy-Btns>button:nth-of-type(1){
  background-color: black;
  color: white;
}

.Fancy-Btns>button:nth-of-type(2){
  background-color: rgb(248, 147, 248);
  color: black;
}

.LogoArea{
  width: 100%;
}

.Logo1{
  display: flex;
  justify-content: space-around;
}


.Logo2{
  display: flex;
  justify-content: space-around;
}

.BlackCard{
  z-index: 1;
  margin:2.5rem;
  margin-right: 0;
  color:white;
  height:40%;
  width: 40%;
  background-color: black;
  border-radius: 2rem;
}

.BlackCard>button{
  background-color: rgb(127, 236, 127);
  padding:0.5rem;
  border-radius: 1rem;
  font-weight: bold;
  margin: 1rem;
  margin-bottom: 0;
}

.BlackCard>ul>hr{
  border:none;
  height: 1px;
}

.BlackCard>ul>li{
  list-style-type:circle;
}

.Cards{
  position: absolute;
  z-index: 3;
  display: flex;
  flex-direction: column;
  right: 2.5rem;
  top:2.5rem;
  width: 27%;
  gap: 1.4rem;
}

.PinkCard{
  padding: 1rem;
  background-color: rgb(248, 147, 248);
  border: 1px solid;
  border-radius: 2rem;
}

.BlueCard{
  display: flex;
  padding: 1rem;
  background-color: rgb(92, 92, 252);
  border: 1px solid;
  border-radius: 2rem;
}

.WhiteCard{
  height: 40%;
  border: 1px solid;
  padding:1rem;
  border-radius: 2rem;
  background-color: white;
}

.WhiteCard>button{
  background-color: rgb(248, 147, 248);
  font-weight: bold;
  padding: 0.5rem;
  padding-top:4px;
  padding-bottom: 4px;
  border-radius: 1rem;
  border:none;
}

.WhiteCard>ul>hr{
  background-color: white;
}

.WhiteCard>ul>li{
  list-style-type: circle;
}

.Lists{
  display: flex;
  gap:1rem;
  width:100%;
  justify-content: space-around;
}

.ListItem{
  padding:0.5rem;
  padding-left:2rem;
  padding-right:2rem;
  border:1px solid;
}

.ListItem>li{
  list-style-type:circle;
  font-size:1rem;
}

li::marker{
  font-size:2rem;
  
}
